In [2]:
import pandas as pd
import numpy as np
import statsmodels as sm
import sklearn as skl
import sklearn.preprocessing as preprocessing
import sklearn.linear_model as linear_model
import sklearn.cross_validation as cross_validation
import sklearn.metrics as metrics
import sklearn.tree as tree
import seaborn as sns

/home/michal/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
data = pd.read_csv("/home/michal/Documents/Kaggle/World Cup/results.csv",)

In [4]:
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [5]:
data.describe()

         home_score    away_score
count  38994.000000  38994.000000
mean       1.740473      1.180130
std        1.730974      1.378908
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [6]:
data.tournament.value_counts()

Friendly                                16431
FIFA World Cup qualification             7100
UEFA Euro qualification                  2332
African Cup of Nations qualification     1558
FIFA World Cup                            836
Copa América                              787
AFC Asian Cup qualification               724
African Cup of Nations                    638
CECAFA Cup                                620
CFU Caribbean Cup qualification           606
Merdeka Tournament                        504
British Championship                      501
Gulf Cup                                  333
AFC Asian Cup                             319
Gold Cup                                  296
UEFA Euro                                 286
Nordic Championship                       283
AFF Championship                          267
COSAFA Cup                                266
CFU Caribbean Cup                         251
Amílcar Cabral Cup                        235
King's Cup                                234
South Pacific Games                       198
African Nations Championship              184
UNCAF Cup                                 164
Korea Cup                                 159
Confederations Cup                        140
International Cup                         127
SAFF Cup                                  124
CCCF Championship                         123
                                        ...
Copa del Pacífico                          19
Copa Rio Branco                            18
Simba Tournament                           17
Copa Oswaldo Cruz                          16
Copa Carlos Dittborn                       16
Copa Juan Pinto Durán                      16
Millennium Cup                             15
Dunhill Cup                                15
UNIFFAC Cup                                15
Copa Premio Honor Uruguayo                 15
GaNEFo                                     14
Nile Basin Tournament                      14
Jordan International Tournament            13
Copa Artigas                               13
Copa Premio Honor Argentino                12
King Hassan II Tournament                  12
Rous Cup                                   11
Atlantic Cup                               11
SKN Football Festival                      11
Tournoi de France                          10
Copa Bernardo O'Higgins                    10
UAFA Cup qualification                      9
VFF Cup                                     9
Mundialito                                  7
NAFU Championship                           7
Copa Ramón Castilla                         6
Copa Félix Bogado                           6
Nations Cup                                 6
OSN Cup                                     4
Dragon Cup                                  4
Name: tournament, Length: 95, dtype: int64